{% extends 'base.html.twig' %}

{% block body %}

<h1 class="title is-1">{{ page_name }}</h1>

<div class="fixed-grid has-4-cols">
<div class="grid">
	{% for post in paginator %}
		<div class="card cell m-2">
		  <div class="card-image">
			<a href="{{ path('app_post_content', {id: post.id}) }}">
			<figure class="image is-4by3">
			  <img
				src="https://bulma.io/assets/images/placeholders/640x480.png"
				alt="Placeholder image"
			  />
			</figure>
			</a>
		  </div>
		  <div class="card-content">
			<div class="media">
			  <div class="media-content">
				<a class="title is-4" href="{{ path('app_post_content', {id: post.id}) }}">{{ post.title }}</a>
				<p class="subtitle is-6">by {{ post.author.username }}</p>
			  </div>
			</div>

			<div class="content">
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			   <a href="{{ path('app_post_content', {id: post.id}) }}">read more...</a>
			  <br />
			  <time>{{ post.createdAt|date('H:i - j F Y') }}</time>
			</div>
		  </div>
		</div>
	{% endfor %}
</div>
</div>


<!-- Pagination -->
<nav class="pagination is-centered my-5" role="navigation" aria-label="pagination">

  {% if cur_page != 1 %}
  <a href="?page={{ cur_page - 1 }}" class="pagination-previous">Previous</a>
  {% else %}
  <a href="?page={{ cur_page - 1 }}" class="pagination-previous is-disabled">Previous</a>
  {% endif %}

  {% if cur_page != total_page %}
  <a href="?page={{ cur_page + 1 }}" class="pagination-next">Next page</a>
  {% else %}
  <a href="?page={{ cur_page + 1 }}" class="pagination-next is-disabled">Next page</a>
  {% endif %}

  {% if total_page != 1 %}
  <ul class="pagination-list">
	{% for i in 1..total_page %}
	<li>
	  {% if i == cur_page %}
	  <a href="?page={{ i }}" class="pagination-link is-disabled" aria-label="">{{ i }}</a>
	  {% else %}
	  <a href="?page={{ i }}" class="pagination-link" aria-label="">{{ i }}</a>
	  {% endif %}
	</li>
	{% endfor %}
  </ul>
  {% endif %}

</nav>

{% endblock %}
